---
import Layout from '../layouts/Layout.astro'
---
<Layout>
  <table class="404-block"style="width:100%">
    <tr>
      <th class="current-URL-not-found"></th>
    </tr>
    <tr>
      <th>
        Error Type: 404
      </th>
    </tr>
  </table>
  <script>
    var currentUrl = location.href;
    let pageTitle = document.querySelector('.current-URL-not-found')
    pageTitle.innerHTML = '<a href="' + currentUrl + '">' + currentUrl + '</a> Was Not Found'
  </script>
</Layout>