---
import Layout from '../layouts/Layout.astro'
---
<Layout>
  <table class="post-block" style="width:100%" id="services">
    <tr>
      <td align="center">
        <a href="wordle" class="post-link">
          <img src="game_assets/wordle" width="300" height="300">
          <h1>Wordle</h1>
        </a>
      </td>
      <td align="center">
        <a href="unbgames" class="post-link">
          <img src="game_assets/unbgames.png" width="300" height="300">
          <h1>Unblocked Games</h1>
        </a>
      </th>
      <td align="center">
        <a href="https://Search.<span>WWW</span>-online.repl.co" class="post-link">
          <img src="game_assets/service-3.png" width="300" height="300">
          <h1>Search</h1>
        </a>
      </td>
      <td align="center">
        <a href="https://repl.it/@<span>WWW</span>-online/Browser" class="post-link">
          <img src="game_assets/service-4.png" width="300" height="300">
          <h1>Web Browser</h1>
        </a>
      </td>
    </tr>
  </table>
</Layout>