---
import Layout from '../layouts/Layout.astro'
---
<Layout pageTitle="Home">
  <div class="grid" style="width: 100%;" id="services">
    <div>
      <a href="/wordle" class="post-link" align="center">
        <img src="/game_assets/wordle" width="300" height="300">
        <h1>Wordle</h1>
      </a>
      <a href="/unbgames" class="post-link" align="center">
        <img src="/game_assets/unbgames.png" width="300" height="300">
        <h1>Unblocked Games</h1>
      </a>
      <a href="https://Search.WW.RockGamerAK.com" class="post-link" align="center">
        <img src="/game_assets/service-3.png" width="300" height="300">
        <h1>Search</h1>
      </a>
      <a href="https://repl.it/@Web-Wizards/Browser" class="post-link" align="center">
        <img src="/game_assets/service-4.png" width="300" height="300">
        <h1>Web Browser</h1>
      </a>
    </div>
  </div>
</Layout>