<!DOCTYPE html>
<html lang="en">
  <head>
	  <meta charset="UTF-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>Post 2 | Blog | 4u.online</title>
  	<link rel="stylesheet" href="/assets/main.css">
  	<link rel="icon" href="/assets/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>
  <body>
   	<header id="header">
      <a class="logo-link">
        <img class="logo" src="/assets/logo.png">
      </a>
		  <nav>
  			<ul class="nav-links">
				  <li class="navigation-button">
            <a href="/">
              Home
            </a>
          </li>
				  <li class="navigation-button">
            <a href="/about">
              About
            </a>
          </li>
				  <li class="navigation-button">
            <a href="/services">
              Services
            </a>
          </li>
				  <li class="navigation-button">
            <a href="/changelog">
              Changelog
            </a>
          </li>
				  <li class="navigation-button current-page">
            <a href="/blog">
              Blog
            </a>
          </li>
			  </ul>
		  </nav>
	  </header>
  	<main id="content">
      <br>
      <center>
        <h1 id="page-title">Post 2</h1>
      </center>
      <div class="sepatator">
        <br>
        <hr>
        <br>
      </div>
		  <div id="main-content">
        <table class="post-block" id="posts" style="width:100%">
          <tr align="center">
            <th>
            </th>
          </tr>
          <tr>
            <td>
            </td>
          </tr>
        </table>
		  </div>
    </main>
  </body>
</html>