---
import '../styles/globals.scss'

const { pageTitle } = Astro.props
var title = 'Games | Web Wizards'
if (pageTitle !== 'Home') title = `${pageTitle} | ${title}`
---
<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="title" content="Web Wizards">
	    <meta name="description" content="A suite of Online Tools to help boost your Productivity">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>{title}</title>
  	    <link rel="icon" href="assets/favicon.png">
    </head>
    <body>
   	    <header id="header">
            <div class="logo">
                <span>WWW</span>
            </div>
		    <nav>
                <a href="/">Home</a>
                <a href="/wordle">Wordle</a>
                <a href="/unbgames">UnbGames</a>
		    </nav>
	    </header>
  	    <main id="content">
            <br>
            <h1 id="page-title" style="text-align: center;">{pageTitle}</h1>
            <div class="sepatator">
                <br>
                <hr>
                <br>
            </div>
		    <div id="main-content">
                <slot />
            </div>
        </main>
    </body>
</html>